*{ 
    margin:0px;
    padding:0px;
    box-sizing: border-box;  
}

body{
    overflow-x: hidden;
    color: #1c1c1c;
    background-color: #e8e8e8;
}

a{ color:#9b1700 ; text-decoration: none;}

/******************** barra de navegacion *******************/

nav{ 
    display: inline-grid;
    grid-template-columns:auto 60% auto;
    text-align: center;
    padding:12px;
    align-items: center;
    width: 100%;
    font-family: 'Noto Serif', serif;  
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #1c1c1c;
}

nav a:hover{ 
    color:  rgb(28, 28, 28,0.5);
}

nav a:active{
    font-style: italic;
    font-weight: 700;
    color: #1c1c1c;
}

nav ul{
    display: inline-grid;
    grid-template-columns:auto auto ;
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 0.85em;
    font-family: 'Open Sans', sans-serif;
}

nav ul li{ list-style: none; }

.contenedor-logo{  
    display: inline-grid;
    grid-template-columns:70px 110px ;
    align-items: center;
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Noto Serif', serif;
}

.contenedor-logo a{
    color: #1c1c1c;
    text-transform: lowercase;
}

.contenedor-logo a:hover{

    color: #1c1c1c;
    font-style:normal;
}

.logo-rojo a{ 
    color: #9b1700;
    font-style: italic;
}

.logo-rojo a:hover{ 
    color: #9b1700;
    font-style: italic;
}

/************* query barra de navegacion ************************/

@media screen and (max-width: 768px) {
    nav{

      display: inline-grid;
      grid-template-columns:auto;
      width: 100%;
      text-align: center;
    }
  }

@media screen and (max-width: 768px) {
    nav ul{

        display: inline-grid;
        grid-template-columns:auto;
        width: 100%;
        padding:6px;
        position: relative;
        top: 40px;     
    }
  }

@media screen and (max-width: 768px) {
    .contenedor-logo{
    width: 205px;
    margin: auto;
    position: relative;
    top: 42px;
    }
}

@media screen and (max-width: 768px) {
    .iniciar-sesion{
        padding:6px;
        position: relative;
        top: -120px;
    
    }
}

/******************** index ***********************************/
.index-contenedor{
    width: 78%;
    margin:auto;
    padding-top: 10px;
    font-family: 'Noto Serif', serif;
}

.titulos{
    text-align: center;
    clear: both;
    margin-top: 16px;
    margin-bottom: 8px;
}

#que-es-oscars-club{
    text-align: center;
}

#como-funciona{
    display: inline-grid;
    grid-template-columns:auto auto auto auto ;
    grid-gap:20px;
    text-align: center;
    align-items: center;
    width: 100%;
    padding:20px;    
}

#unete-al-club{
    display: inline-grid;
    grid-template-columns:35% auto;
    grid-gap:40px;
    width: 100%;
    padding:20px;    
}

form{
    font-size: 0.65em;
    line-height: 1.5;
    text-align: justify;
    padding-bottom: 50px;
    width: 100%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

form input{
    width: 100%;
    padding:6px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1.3em;
}

/*****************Media queries index ***************************/

@media screen and (max-width: 768px) {
    .index-contenedor {
      width: 100%;
    }
  }

@media screen and (max-width: 768px) {
    #unete-al-club,#como-funciona {
      
        display: inline-grid;
        grid-template-columns:auto;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #que-es-oscars-club {
      
    width: 90%;
    margin:auto;
    }
}

/***************** CLUBES TEMÃTICOS *******************************/

#clubes{
    display: inline-grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 10px;
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
    padding:10px;
}

.club-text-left{
    text-align: left;
}

.veremos-2020{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px; 
}

.img-caption{
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.14em;
    font-family: 'Open Sans', sans-serif;
}

.puntos{
    color: #9b1700;
    font-weight: bold;
    padding-right: 4px; 
}

/************* Media query para clubes tematicos ***************/

@media screen and (max-width: 768px) {
    #clubes{
    display: inline-grid;
    grid-template-columns: auto; 
   
    }
}

/************ pagina Sesiones 2020 *****************************/

.pagina-sesiones-parrafo-1{
    width: 80%;
    margin:auto;
}

.sesiones-contenedor{

    display: inline-grid;
    grid-template-columns: 35% auto;
    padding:10px;
    margin-bottom: 35px;
    margin-top: 20px;
    width: 100%;
    border-style: dotted;
    border-width:4px;
    border-color: #9b1700 ;
    border-bottom: 0px;
    border-left: 0px;
    border-right:0px;
}

#sessiones-por-club a{
    color: #1c1c1c;
}

.img-caption{

    font-weight: bold;
    margin-top: 25px;
   
}
#sessiones-por-club{

    font-size: 0.88em;
}
#sessiones-por-club a:hover{
    color: rgba(0,0,0,0.7);
    
}

.movies{
    display: inline-grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 6px;
    
}

.tarjeta {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      width: 100%;
      color: #9b1700;
      background-color: white;
      padding: 2px;
      font-size: 0.8em;
      text-align: left;
      font-weight: bold;
  }

.tarjeta>*{
    opacity: 0.6;
}

.tarjeta a:hover{
    opacity: 0.99;
}

.link-sesiones{
      color: #1c1c1c;
  }


/********* media query pagina sessiones 2020 *********************/

@media screen and (max-width: 768px) {
    .sesiones-contenedor{
    display: inline-grid;
    grid-template-columns: auto;
    width:100%;
    }
}

@media screen and (max-width: 768px) {
    .sesiones{
    text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .movies{
    display: inline-grid;
    grid-template-columns: auto;
    width:50%;
    }
}

@media screen and (max-width: 768px) {
    .pagina-sesiones-parrafo-1{
    
    width:96%;
    }
}

/************************** detalle sesion ********************/

.detalle-sesion{
    display: inline-grid;
    grid-template-columns: 35% auto;
    grid-gap: 20px;
    text-align: justify;
    padding-bottom: 30px;
    font-size:0.9em;
    
    
}

.hilo{
   width: 100%;
   padding: 10px;
   font-size: 0.8em;
   color:  rgb(28, 28, 28,0.5);
   font-family: 'Open Sans', sans-serif;
}

.hilo a{
    color:#1c1c1c

}

.hilo a:hover{
    color:  rgb(28, 28, 28,0.5);

}

.klaus-titulo{
    margin-top: 20px;
    margin-bottom: 10px;
    color:#1c1c1c  
}

#sobre-la-obra>*{
    padding: 6px;
}

.detalle-sesion>*{

    padding: 6px;
}
dd{
    padding-left: 10px;   
}

dt{
    border-style: solid;
    font-weight: bold;
    border-top: 1px;
    border-left: 0px;
    border-right: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-width: 1px;
}

.rounded{
    border-radius: 50%;
    float: left;
}

iframe{ border: 0px; }

/************************** media query detalle sesion ***************/

@media screen and (max-width: 768px) {
    .detalle-sesion{
    display: inline-grid;
    grid-template-columns: auto;
    width:100%;
    padding:30px;
    padding-top: 5px;
    
    }
}

@media screen and (max-width: 768px) {
    .hilo{
    text-align: center;
    padding: 0px;
    margin-bottom: 4px;
    width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .klaus-titulo{
    text-align: left;
    padding: 0px;
    padding-left: 37px;
    margin-bottom: 4px;
    width: 100%;
    }
}

/************************** footer ***********************************/

footer{
    
    background-color:#433A44;
    color: #FFFFFF;
    padding:8px;
    clear: both;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    
}

footer>*{

    background-color: #433A44;
}
.footer-div-1{ float: left; padding: 6px; }

.footer-div-2{ float: right; padding: 6px; }

.footer-div-3{ clear: both; padding: 6px; }

.footer-div-4{ padding: 6px; text-align: right;
}

footer a{ color: #FFFFFF;}

footer a:hover{color: #9b1700;}

/************ media query para el footer ****************************/

@media screen and (max-width: 768px) {
    .footer-div-1,.footer-div-2,.footer-div-3{
        
    display: inline-grid;
    grid-template-columns: auto;
    width:100%;
    text-align: center;
    padding: 14px;
    font-size: 0.9em;
    
    }
}










 

.responsiva {
    width: 100%;
    height: 46%;
  }


  .club{
    color: #9b1700;
    font-style: italic;  
}

.check{ width: 15px; }

.boton{
    background-color:#9b1700 ;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 6px;
    width: 130px;
    border: unset;
    cursor: pointer;
    font-family: 'Noto Serif', serif;
}







